nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  background-color: rgb(241, 157, 157);
  margin: auto;
}

nav a {
  border-right: 1px solid black;
  padding-right: 100px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

nav a:last-child {
  border-right: none;
}
